label{
    margin: 0px;
    padding: 0px;

}
#main #input-phone{
    font-size: 16px;
    margin-left: -22px;
}
#container #main #content #content-yzm{
    margin:0px;
    padding:0px;
}
#container #main #content #content-yzm #input-yzm{
    width: 228px;
    margin: 0px;
    padding-left:10px;
}
#container #main #content #content-yzm #yzm {
    width: 120px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    border: solid 1px #e8e8e8;
}