<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米账号注册</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
<div id="container">
    <div id="main">
        <div id="img">
            <img src="../images/logo-xiaomi.png">
            <h1>小米账号注册</h1>
        </div>
        <div id="content">
            <select>
                <option value="中国" selected="selected">中国<span>(86)</span></option>
                <option value="美国">美国<span>(886)</span></option>
                <option value="英国">英国<span>(123)</span></option>
                <option value="德国">德国<span>(456)</span></option>
            </select>
            <div id="content-login"><input type="text" name="account-phone" id="account-reg-phone" placeholder="请输入手机号"></div>
            <button id="content-reg-btn" onclick=" check()">立即登注册</button>
        </div>
        <label>点击“立即注册”，即表示您同意并愿意遵守小米<span>用户协议</span>和<span>隐私政策</span></label>
    </div>
    <div id="no-footer">
        <span>小米公司版权所有-京ICP备10046444-京公网安备11010802020134号-京ICP证110507号</span>
    </div>
</div>
</body>
</html>